
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--contentColor);
  @media only screen and (max-width: 730px) {
    padding: 10px;
  }
}


.form-login-container {
  width: 435px;
  height: 435px;
  background-color: var(--whiteColor);
  display: flex;
  border-radius: var(--radius);
  @media only screen and (max-width: 730px) {
    height: 100%;
    width: 100%;
  }
}


.form-login-container .content-form {
  width: 100%;
  display: flex;
  flex: 1;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.logo-login {
  width: 250px;
}
